/* Arka plan */
.auth-container {
  width: 100%;
  height: 100vh;
  background-image: url("/bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

/* Kart */
.auth-card {
  width: 100%;
  max-width: 360px;
  background: rgba(0, 0, 0, 0.55);
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* Logo */
.auth-logo {
  width: 95px;
  margin-bottom: 10px;
}

/* Başlık */
.auth-title {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 3px;
}

.auth-subtitle {
  color: #d6d6d6;
  font-size: 15px;
  margin-bottom: 10px;
}

.login-subtitle {
  color: #fff;
  font-size: 15px;
  margin-bottom: 18px;
}

/* Form input */
.auth-input {
  width: 92%;
  height: 52px;         /* YÜKSEKLİĞİ SABİTLEDİK */
  box-sizing: border-box;
  padding: 0 15px;      /* Üst-alt padding’i sıfır, yükseklikle geliyor */
  border-radius: 10px;
  border: none;
  margin-bottom: 12px;
  font-size: 16px;
  outline: none;
}

/* Buton */
.auth-button {
  width: 100%;
  height: 52px;        /* INPUT İLE AYNI */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

/* Alt link */
.login-link {
  margin-top: 15px;
  color: #fff;
  font-size: 14px;
}

.login-link a {
  color: #4aa8ff;
  font-weight: bold;
}
