/* Arka plan */
.auth-container {
  width: 100%;
  height: 100vh;
  background-image: url("/bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

/* Kart */
.auth-card {
  width: 100%;
  max-width: 360px;
  background: rgba(0, 0, 0, 0.55);
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

/* Logo */
.auth-logo {
  width: 95px;
  margin-bottom: 10px;
}

/* Başlık */
.auth-title {
  color: white;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
}

.auth-subtitle {
  color: #d6d6d6;
  font-size: 15px;
  margin-bottom: 20px;
}

/* Form */
.auth-input {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  margin-bottom: 12px;
  font-size: 15px;
  outline: none;
}

/* Buton */
.auth-button {
  width: 100%;
  padding: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 5px;
  cursor: pointer;
}

/* Sosyal medya yazısı */
.social-text {
  color: white;
  font-size: 15px;
  margin-top: 20px;
}

/* Sosyal ikonlar */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-icon {
  width: 42px;
  height: 42px;
  cursor: pointer;
}

/* Apple bölümü */
.apple-box {
  margin-top: 15px;
  text-align: center;
}

.apple-icon {
  width: 42px;
  opacity: 0.7; /* pasif */
}

.apple-text {
  margin-top: 5px;
  color: white;
  font-size: 14px;
  opacity: 0.9;
}

/* Giriş linki */
.login-link {
  margin-top: 15px;
}

.login-link a {
  color: #4aa8ff;
  font-weight: bold;
}
